{
 "CLOJARS_USERNAME" "io/github/ajchemist/templates/clojars_username"
 "CLOJARS_PASSWORD" "io/github/ajchemist/templates/clojars_password"
 "DISCORD_WEBHOOK"  "io/github/ajchemist/templates/discord_webhook"
 }
